
.health-page {
    background-color: #f5f5f5;
    height: 100vh;
}

.health-header{
      background-color: #f5f5f5;
}

.health-header-left {
  width: 100%;
  height: 15rem;
  background: linear-gradient(to bottom, #d1f5fd, #ffffff );
  position: relative;
}

.health-header-left .bj {
  width: 100%;
  height: 100%;
}
.user img{
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    left: 2rem;
    bottom:2rem;
    border-radius: 50%;
}
.user-text{
    position: absolute;
    left: 6rem;
    bottom:2.5rem;
    text-align: left;
}
.change_wx{
    position: absolute;
    right: 3rem;
    bottom:3rem;
    text-align: center;
}
.change_wx p{
    background: linear-gradient(to right, #58c075, #66de85 );
    padding: 3px 8px;
    border-radius: 15px;
    color:#fff;
}
h3,p{
    margin: 0;
}
.health-content {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
     background-color: #f5f5f5;
     margin-top:-5px;
}

.health-item {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    box-sizing: border-box;
}
.health-item img {
    width: 75%;
    text-align: center;
}
.health-item-text p {
    text-align: center;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    margin:0;
}
.health-footer img{
    width: 90%;
    height: 100%;
    padding: 10px 20px;
}
